body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url(./images/image.jpg);
}

form.search-form {
	margin-left: 20px;

  margin: auto;
	width: 50%;
	padding: 20px;
	background-color: #f2f2f2;
}

form.search-form input[type=text] {
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

form.search-form input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

form.search-form input[type=submit]:hover {
	background-color: #45a049;
}

header {
  background-color: #56768e;
  color: #fff;
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

.centre {
  text-align: center;
}


main {
  padding: 20px;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
}

h2 {
  text-align: center;
}

h6 {
  text-align: center;
}

.formholder {
	margin: auto;
	width: 50%;
	padding: 20px;
	background-color: #f2f2f2;
}

h2 {
	text-align: center;
}

label {
	display: block;
	margin-bottom: 10px;
}

input[type=text], input[type=email], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: none;
	border-bottom: 2px solid #ddd;
}

button[type="submit"] {
  background-color: #828582;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #000000;
}

form label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

input,
textarea {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
  width: 100%;
}

input[type="submit"] {
  background-color: #444242f9;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 1rem;
}

input[type="submit"]:hover {
  background-color: #555;
}

h3 {
  margin-top: 20px;
}

strong {
  font-weight: bold;
}

.error {
	color: red;
	font-size: 14px;
	margin-bottom: 10px;
}

.faq-section {
  margin: 50px 0;
}

.faq-item {
  flex: 1;
  padding: 20px;
  background-color: #f2f2f2;
  margin: 10px;
}

.faq-item h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.faq-item p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

.hero {
	background-image: url('./images/image2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: #fff;
	padding: 50px;
	text-align: center;
}

.hero h2 {
	font-size: 3rem;
	margin-bottom: 20px;
}

.hero p {
	font-size: 1.2rem;
	margin-bottom: 40px;
}

.btn {
	background-color: #fff;
	border: none;
	color: #333;
	padding: 10px 20px;
	text-decoration: none;
	display: inline-block;
	border-radius: 5px;
	font-size: 1.1rem;
}

.btn:hover {
	background-color: #ccc;
	color: #fff;
}

.story-container {
  max-width: 800px;
  margin: 0 auto;
}

.story-title {
  font-size: 32px;
  margin: 20px 0;
}

.story-meta {
  font-size: 18px;
  margin-bottom: 20px;
}

.story-content {
  font-size: 16px;
  line-height: 1.5;
}


table {
  border-collapse: collapse;
  margin: 50px auto;
  width: 80%;
}
th, td {
  padding: 10px;
  text-align: left;
  border: 1px solid black;
}
th {
  background-color: #000000;
  color: white;
}

.story-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.story-item {
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
}

footer {
  background-color: #56768e;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}